<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - haru.market</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/haru.market.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            <div class="TopNav">
                <div class="Logo navbox">
                        <img src="~/images/Black_logo.png"  alt="Logo">                
                </div>
                <div class="Brand navbox"><a href="#">HARU</a></div>
                <div class="TopMenu navbox">
                    <ul>
                        <li class="TopMenu_search"><a href="#"><img src="~/images/Search-icon.png"  alt="Logo"></a></li>
                        <li class="TopMenu_user"><a href="#"><img src="~/images/User-icon.png"  alt="Logo"></a></li>
                        <li class="TopMenu_heart"><a href="#"><img src="~/images/Heart-icon.png"  alt="Logo"></a></li>
                        <li class="TopMenu_bag"><a href="#"><img src="~/images/Bag-icon.png"  alt="Logo"></a></li> 
                    </ul>

                </div>
            </div>
            <div class="BottomNav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Lookbook</a></li>   
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - haru.market - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
