@model haru.market.Models.LoginViewModel

<div class="container" style="padding: 50px;">
    <h2>Test Login Page</h2>
    
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" style="color:red;"></div>

        <div>
            <label>Email:</label><br />
            <input asp-for="Email" /><br /><br />
        </div>
        <div>
            <label>Password:</label><br />
            <input asp-for="Password" type="password" /><br /><br />
        </div>
        <div>
            <input asp-for="RememberMe" />
            <label>Remember Me</label><br /><br />
        </div>

        <button type="submit">Submit Test Login</button>
    </form>

    <hr />
    <div style="margin-top: 15px; text-align: center;">
        <p style="font-family: sans-serif; color: #333;">
            Don't have an account yet? 
            <a href="/Account/Register" style="color: #ff69b4; font-weight: bold; text-decoration: none; margin-left: 5px;">Create an Account</a>
        </p>
    </div>
</div>