.Popup_Overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);

    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.Popup_Window {
    background-color: #F8F6EE;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.Popup_Title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.Popup_Title_Card {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  padding-left: 3vh;
}

.Popup_Title_Card h3 {
  font-family: "Piazzolla", serif;
  font-size: 4vh;
  font-weight: 650;
  font-style: italic;
}

.Popup_Exit_Card {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  height: 100%;
  padding-right: 5vh;
}

.Popup_Exit_Card a {
  text-decoration: none;
  font-size: 4vh;
  color: black;
  font-family: 'Nunito', sans-serif;
}

.Popup_Content {
  width: 100%;
  height: 85%;
}

.Bottom_Space {
  width: 100%;
  height: 5%;
  box-shadow: 0 -8px 10px -5px rgba(0, 0, 0, 0.2);
}