.Search_Popup_Overlay {
    display: none;
    position: fixed;
    top:2%;
    left: 66%;
    width: 23%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    z-index: 8000;
}

.Search_Popup_Window {

    background-color: transparent;
    display: flex;

    width: 100%;
    height: 100%;
}

.Search_Content_Container {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 90%;
  background-color: #F8F6EE;
  overflow: hidden;
  margin-right: 2vh;
  border-radius: 1.5vh;
  padding:.5vh
  

}

.Search_Text_Box {
  width: 65%;
  height: 75%;
  margin: 5px;
  background-color: #FFFFFF;
  border: 1px solid #f8cbd5;
  border-radius: 1vh;
  overflow: hidden;


}

.Search_Text_Box input {
  width: 100%;
  height: 100%;
  border: none;

}

.Search_Text_Box input:focus {
  border: none;
  outline: none;
}

.Search_Button {
  width: 30%;
  height: 75%;
  background-color: #f8cbd5; 
  border-radius: 1vh;
  align-items: center;
  justify-items: center;
  padding:1%;
}

.Search_Button a {
  text-decoration: none;
  color: black;
}

.Search_Button a h5 {
  justify-self: center;
  align-self: center;
  font-family: "Nunito", sans-serif;
  
}

.Search_Popup_Window button{
  border: none;
  background-color: transparent;
  border-radius: 1vh;
  height: 100%;
  width: 10%;

}
