@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home.css" />
}


<section class="LookbookSection">
    <div class="LookBookSection_container">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
    </div>

    <div class="LookBookSection_text">
        <h2><a href="/Home/Lookbook">Explore Lookbook</a></h2>
    </div>
</section>
<section class="FeaturedSection">
    <div class="FeaturedSection_container text-center">
        <h2>FEATURED</h2>
        <div class="FeaturedItem_Container">
            <div class="FeaturedItem_card">1</div>
            <div class="FeaturedItem_card">2</div>
            <div class="FeaturedItem_card">3</div>
            <div class="FeaturedItem_card">4</div>
            <div class="FeaturedItem_card">5</div>
        </div>

        <a href="/Home/Shop"><div class="Shop_Button d-flex justify-content-center align-items-center"><h2>View Shop</h2></div></a>

        <div class="FeaturedImage_Container">
             <img src="/images/Home/FeaturedImage.jpg"/>
        </div>
        
    </div>