@{
    ViewData["Title"] = "Lookbook";
}

@section Styles {
    <link rel="stylesheet" href="~/css/costumer_page/Lookbook.css" />
}


<section class="LookbookSection">

    <div class="LookBookPreview_container">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
    </div>

    <div class="LookbookSets_Container">

        <div class="Sets_Container">
            <div class="Item_Container">
                <div class="Side_Image">
                    <div class="FeaturedImage_Card"></div>
                    <div class="FeaturedImage_Card"></div>
                    <div class="FeaturedImage_Card"></div>
                    <div class="FeaturedImage_Card"></div>
                </div>
                <div class="Main_Image">
                    <img />
                </div>
                <div class="About_Text">
                    <h2>Main Title</h2>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, incidunt iste officiis optio dolorem, sit quam aperiam laborum explicabo perspiciatis dolor provident natus quaerat necessitatibus impedit excepturi, tempora ducimus minima?</p>

                    <div class="About_Text_Button">View in shop</div>
                </div>
            </div>
        </div>

        <div class="Sets_Container">

        </div>

    </div>
</section>