@{
    ViewData["Title"] = "Lookbook";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Lookbook.css" />
}


<section class="LookbookSection">
    <div class="">
        <h2>Lookbook</h2>
        <p>Explore our curated lookbook for the latest fashion trends and styling inspiration.</p>
        
    </div>