@{
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Shop.css" />
}

<section class="ShopSection">
    <div class="container">
        <h2>Shop</h2>
        <p>Discover our latest collection of fashion and accessories.</p>
        
    </div>