@{
    ViewData["Title"] = "Shop";
}

@section Styles {
    <link rel="stylesheet" href="~/css/costumer_page/Shop.css" />
}

<section class="ShopSection">
    <div class="Filter_Container">
        <div class="Filter_Button">
            <img src="~/images/Shop/Filter-icon.png" >
            <span>Filter & Sort</span>
        </div>
    </div>
    <div class="Product_Container">

        <div class="Product_Card">
            <div class="Product_Image">
                <img src="~/images/Shop/MyDarling/Transparent/Black_Front.png" />
            </div>

            <div class="Product_ColorSeletor">
                <div class="color-dot active">
                    <img src="/images/Shop/MyDarling/Icon/Black.png"></Img>
                </div>
                <div class="color-dot active">
                    <img src="/images/Shop/MyDarling/Icon/White.png"></Img>
                </div>

            </div>
            <h3>My Darling</h3>
            <p>₱999</p>
            
        </div>

        <div class="Product_Card">
            <img src="..." />
            <h3>Product Name</h3>
            <p>₱999</p>
        </div>
        
        <div class="Product_Card">
            <img src="..." />
            <h3>Product Name</h3>
            <p>₱999</p>
        </div>

        <div class="Product_Card">
            <img src="..." />
            <h3>Product Name</h3>
            <p>₱999</p>
        </div>

        <div class="Product_Card">
            <img src="..." />
            <h3>Product Name</h3>
            <p>₱999</p>
        </div>

    </div> 
</section>