@model IEnumerable<haru.market.Models.WishlistItemViewModel>

<!-- to test the wishlist view -->
<h2>My Wishlist</h2>

@foreach(var item in Model)
{
    <div style="margin-bottom:20px;">
        <img src="@item.MediaUrl"
             width="250" />

        <h4>@item.ThemeTitle</h4>

        <p>@item.Description</p>
    </div>
}
