<div id="heartPopup" class="Popup_Overlay">
    <div class="Favorites_Layout_Window">
        <div class="Popup_Window">
            <div class="Popup_Title">
                <div class="Popup_Title_Card">
                    <h3>My Favorites</h3>
                </div>
                <div class="Popup_Exit_Card">
                    <a href="#" id="closeHeart">X</a>
                </div>
            </div>
            <div class="Popup_Content"></div>
            <div class="Bottom_Space"></div>
        </div>
    </div>
</div>
