<div id="searchPopup" class="Search_Popup_Overlay" id="closeSearch">
    <div class="Search_Popup_Window">

        <div class="Search_Content_Container">
            <div class="Search_Text_Box">
                <input type="text" placeholder="Search products..." id="searchInput">
            </div>

            <div class="Search_Button">
                <a href="#">       
                    <h5>Search</h5>
                </a>
            </div>    
        </div>

        <button id="closeSearch">
    
        </button>
    </div>
</div>
