<div id="searchPopup" class="Popup_Overlay">
    <div class="Popup_Window">
        <div class="Popup_Title">
            <P>search</P>
        </div>
        <div class="Popup_Content"></div>

        <button id="closeSearch">
            X
        </button>
    </div>
</div>
