<div id="searchPopup" class="Search_Popup_Overlay">
    <div class="Search_Popup_Window">
        <div class="Search_Popup_Title">
            <P>search</P>
        </div>
        <div class="Search_Popup_Content"></div>

        <button id="closeSearch">
            X
        </button>
    </div>
</div>
