<div id="userPopup" class="User_Popup_Overlay">
    <button id="closeUser" class="User_Exit_Window">
            
        </button>
    <div class="User_Popup_Window">
        
        
        <div class="User_Popup_Content">
            <a href="#"><p>Log In</p></a>
        </div>
        <div class="User_Popup_Content">
            <a href="#"><p>Sign Up</p></a>
        </div>

    </div>
</div>
