<div id="userPopup" class="Popup_Overlay">
    <div class="Popup_Window">
        <div class="Popup_Title">
            <h3>User</h3>
        </div>
        <div class="Popup_Content"></div>

        <button id="closeUser">
            X
        </button>
    </div>
</div>
